<section class="about-me" id="about-me">
  <div class="about-me__container">
      <img class="about-me__img" src="../../../assets/images/foto.jpg" alt="foto">
      <div class="container__info">
          <h2 class="info__title">Conóceme</h2>
          <p class="info__description">{{about}}</p>
          <!-- <p class="info__description">Mi nombre es Rodrigo Salinas soy Desarrollador de Software, Actualmente me estoy formando como Desarrollador Web Full-Stack. Me motiva mucho desarrollar mis habilidades y crecer profesionalmente. Tengo confianza en mi capacidad para encontrar ideas interesantes para crear software y resolver problemas.</p> -->
      </div>
  </div>
</section>
