<section class="skills" id="skills">
  <div class="skills__title">
      <h2>Skills</h2>
  </div>
  <div class="skills__container">
      <img class="skills__logo" src="../../../assets/images/git-github.png" alt="git-github logo">
      <img class="skills__logo" src="../../../assets/images/html.png" alt="html5 logo">
      <img class="skills__logo" src="../../../assets/images/css.png" alt="css3 logo">
      <img class="skills__logo" src="../../../assets/images/bootstrap.jpg" alt="bootstrap logo">
      <img class="skills__logo" src="../../../assets/images/javascript.png" alt="javascript logo">
      <img class="skills__logo" src="../../../assets/images/typescript.png" alt="typescript logo">
      <img class="skills__logo" src="../../../assets/images/angular.png" alt="angular logo">
      <img class="skills__logo" src="../../../assets/images/mysql.png" alt="mysql logo">
      <img class="skills__logo" src="../../../assets/images/java.png" alt="java logo">
      <img class="skills__logo" src="../../../assets/images/spring-boot.png" alt="spring boot logo">
      <img class="skills__logo" src="../../../assets/images/postman.png" alt="postman logo">
      <img class="skills__logo" src="../../../assets/images/hibernate.png" alt="hibernate logo">
  </div>
</section>
