<section class="experience" id="experience">
  <div class="experience__container">
      <div class="experience__title">
          <h2>Experiencia</h2>
      </div>
      <div class="experience__info">
          <div class="experience__company">
              <h3>Lorem ipsum dolor sit amet</h3>
          </div>
          <div class="experience__role">
              <h4>Consectetur adipiscing elit</h4>
              <p class="experience__duration">Enero-2022 - Actualmente</p>
          </div>
          <div class="experience__description">
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu tincidunt erat, a gravida nunc. Quisque rhoncus luctus velit id mattis. Proin sed tincidunt tortor. Maecenas eget fringilla orci, non ultricies enim. Sed viverra ligula sed auctor tincidunt. Etiam viverra ligula sit amet odio eleifend, et consequat mauris interdum. Donec convallis, mauris vel ullamcorper rhoncus, nunc risus luctus elit, non lobortis nunc dui at urna. Donec laoreet mollis erat sit amet rutrum. Ut vulputate nunc at tellus sollicitudin lacinia. Integer sagittis sem sapien, sed ultrices orci semper malesuada. Maecenas aliquet iaculis velit, non venenatis ante bibendum ac. Etiam sollicitudin nisi fermentum, ullamcorper nulla in, porta turpis. Proin non sem euismod, ornare ipsum quis, venenatis ligula. Sed dapibus nunc ornare fermentum ornare.
              </p>
          </div>
      </div>
  </div>
</section>
